
            
                            
                body {
                    text-align: center;
                    
                    list-style-position: inside;
                }
                #nome {
                    font-family: Courier, sans-serif;
                    /*background-color: midnightblue; */
                    background-image: url(./imagens/icon2.ico);
                    color: mintcream;
                
                }
                ul li {
                    font-style: oblique;
                    list-style-image: url(./imagens/icon2.ico);     
                                  
                }
                .tamanho {
                    font-size: 1.2em;
                }
                img {
                    border-radius: 40%;
                }
                h2 {
                    margin-left: 40px;
                    color:midnightblue;  
                }
                a {
                    text-decoration: none;
                    color:whitesmoke;
                    background-color: steelblue;
                }
                #big {
                    font-size: 1.5em;
                }

        