#navbar {
    
}
#sidebar {
    float: right;
    max-width: 30%;
    text-align: justify;
    margin-right: 20%;
}
#articles {
    float: left;
    max-width: 60%;
    margin-left: 15%;
}
#foot {
    clear: both;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    
}
#PrincipalImg {
    width: 50%;
    border-style: double;
    border-color: ivory ;
    z-index: -1;
}
body {
    background: linear-gradient(lightblue,mediumblue);
}
.centered {
    text-align: center;
    color: whitesmoke;  
}
#mini {
    font-size: 0.7em;
    font-weight: bold;
}